// Common styles of the project

html, body
    height 100%
    overflow hidden


.page
    // Стили для body

.page__wrapper
    min-height 100%
    margin-bottom -50px


* html .page__wrapper
    height 100%

body
  background-color: #fff;
  display flex
  flex-direction column
  justify-content space-between
  height 100%
  margin 0
  padding 0
  .bottomSection
    display flex
    justify-content space-around
    height 188px
    width 100%

    @media (max-width: 450px)
        height 150px

    @media (max-width: 350px)
        height 100px
    .basket
      align-items center
      border 2px solid #000
      border-radius 10px
      color #000
      display flex
      font-size 25px
      justify-content center
      text-align center
      height 100%
      width 35%
      @media (max-width: 450px)
        font-size 18px
      @media (max-width: 350px)
        font-size 12px


.figure
  cursor pointer
  position absolute

.circle
  border-radius 100%
.countFigure,
.score
  font-size 24px
  margin 5px
  @media (max-width: 450px)
    font-size 18px
  @media (max-width: 350px)
    height 16px
