// Common styles of the project

html, body
    height 100%


.page
    // Стили для body

.page__wrapper
    min-height 100%
    margin-bottom -50px


* html .page__wrapper
    height 100%

body
  background-color: #fff;
  position relative
  height 100vh
  margin 0
  padding 0
  .bottomSection
    display flex
    justify-content space-around
    height 188px
    width 100%
    position absolute
    left 0
    bottom 0
    margin-bottom 12px
    @media (max-width: 450px)
        height 150px
        margin-bottom 50px
    @media (max-width: 350px)
        height 100px
    .basket
      align-items center
      border 2px solid #000
      border-radius 10px
      color #000
      display flex
      font-size 25px
      justify-content center
      text-align center
      height 100%
      width 35%
      @media (max-width: 450px)
        font-size 18px
      @media (max-width: 350px)
        font-size 12px


.figure
  cursor pointer
  position absolute

.circle
  border-radius 100%



// .red
//   background #ff3c41
// .yellow
//   background #fcd000